
Body{
  font-family: "Noto Sans", sans-serif;
}



.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerA{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6e870f;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  

}

.container a{
  font-size: 10px;
}
.containerB{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6e870f;

  width: 700px;
  border-radius: 20px;

}
#create-employee{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.address{
  display: flex;
  flex-direction: column;
  background-color: #93ad18;
  width: 200px;
  border-radius: 10px;
}

h1 {
  color: #93ad18;
  margin: 0;
  margin-top: -5px;
}

.create{
  color: white;
  margin-top: 0;
  margin-bottom: 50px;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic{
  display: flex;
  flex-direction: column;

}

label{
  color: white;
  margin-top: 5px;
}

input{
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}

.depSub{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-input{
  display: flex;
  flex-direction: column;
}

legend{
  color: white;
}

select{
  border-radius: 5px;
  padding: 5px;
  border-style: none;
  background-color: white;
}

button {
  background-color: #93ad18;
  color: white;
  border: none;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

