
Body{
  font-family: "Noto Sans", sans-serif;
}



.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerA{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6e870f;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  

}

.container a{
  font-size: 10px;
}
.containerB{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6e870f;

  width: 700px;
  border-radius: 20px;

}
#create-employee{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.address{
  display: flex;
  flex-direction: column;
  background-color: #93ad18;
  width: 200px;
  border-radius: 10px;
}

h1 {
  color: #93ad18;
  margin: 0;
  margin-top: -5px;
}

.create{
  color: white;
  margin-top: 0;
  margin-bottom: 50px;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic{
  display: flex;
  flex-direction: column;

}

label{
  color: white;
  margin-top: 5px;
}

input{
  border-radius: 5px;
  padding: 5px;
  border-style: none;
}

.depSub{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-input{
  display: flex;
  flex-direction: column;
}

legend{
  color: white;
}

select{
  border-radius: 5px;
  padding: 5px;
  border-style: none;
  background-color: white;
}

button {
  background-color: #6e870f;
  color: white;
  border: none;
  padding: 10px 80px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}



.current{
  margin-bottom: 20px;
}

.search{
  color: WHITE;
  align-self: flex-start;
  background-color: #6e870f;
  margin-top: 0px;
  height: 20px;
  max-width: 180px;
  margin-bottom: 20px;
  padding: 10px;
  width: 100% ;
}

th, td {
  text-align: center; /* Centre le texte horizontalement */
  vertical-align: middle; /* Centre le texte verticalement (si nécessaire) */
  padding: 10px; /* Optionnel: ajoute de l'espace autour du texte */

}

.buttonNP{
  padding: 10px 30px;
  vertical-align: middle;
  margin-top: 0;
}

.pagi{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
span{
  margin-left: 10px;
  margin-right: 10px;
}